# Environment files
*.env
api.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm/IDE files
.idea/
*.iml

# VSCode files
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
